* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Header */
header{
    width:100%;
    min-height:70px;
    background:#222;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
}

.logo h2{
    color:#fff;
    font-size:24px;
}

.logo span{
    color:#ff3d3d;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li{
    margin:0;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
}

/* Hero Section */
.hero{
    width:100%;
    min-height:500px;
    background:url("../images/slide_01.jpg") center center/cover no-repeat;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:#fff;
    width:90%;
}

.content h3{
    color:#ff3d3d;
    font-size:22px;
    margin-bottom:20px;
}

.content h1{
    font-size:48px;
    letter-spacing:5px;
}

/*Products section*/
.products {
  width: 90%;
  margin: 40px auto;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 80px; */
}

.product-heading h3 {
  font-size: 20px;
  color: #333;
}

.product-heading a {
  text-decoration: none;
  color: #f33f3f;
  font-size: 8px;
  font-weight: bold;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,minmax(280px,1fr));
    gap:30px;
  
    width:100%;

    margin-top:30px;
}
/* Card */

.card {
  border: 1px solid #ddd;
  background: #fff;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-price h3 {
  color: #1e73be;
  font-size: 15px;
}

.title-price span {
  font-size: 15px;
  font-weight: bold;
}

.card-body p {
  color: #666;
  line-height: 1.8;

  font-size: 8px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star {
  color: #f33f3f;
  font-size: 7px;
}

.rating span {
  color: #f33f3f;
  font-size: 10px;
  font-weight: 600;
}
/*about */
.about{
    width:90%;
    margin:20px auto;
}

.about h2{
    font-size:22px;
    font-weight:500;
    color:#222;
    
}

.about hr{
    border:none;
    height:1px;
    background:#e5e5e5;
    margin-bottom:60px;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.about-text{
    width:50%;
}

.about-text h3{
    color:#1a73b8;
    font-size:15px;
    margin-top: 10px;
    margin-bottom:10px;
}

.about-text p{
    font-size:10px;
    color:#555;
}

.about-text p a{
    color:#1a73b8;
    text-decoration:none;
}

.about-text ul{
    margin:20px 0;
    padding-left:20px;
}

.about-text ul li{
    list-style: square;
    font-size:10px;
    color:#555;
    margin-bottom:18px;
}

.about-text button{
    padding:15px;
    border:none;
    background:#f33f3f;
    color:white;
    font-size:1opx;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
  }
  
  .about-text button:hover{
    background:#222;
  }

.about-image{
  width:50%;
}

.about-image img{
  width:100%;
  display:block;
}


/*Footer */

footer{
    width:90%;
    margin:70px auto 40px;
    text-align:center;
}

footer p{
    font-size:10px;
    color:#555;
    text-transform:uppercase;
    
}

footer span{
    color:#f33f3f;
}

/*media query*/
@media (max-width:992px){

header{
    padding:15px 30px;
}

.logo h2{
    font-size:22px;
}

nav ul{
    gap:20px;
}

.content h1{
    font-size:38px;
}

.container{
    grid-template-columns:repeat(2,1fr);
     /* grid-template-columns:1fr; */
}

.about-container{
    gap:30px;
}

}
@media (max-width:768px){

header{
    /* flex-direction:column; */
    padding:10px;
}



nav{
    width:100%;
}

nav ul{
    /* flex-direction:column; */
    align-items:center;
    /* gap:15px; */
}

.hero{
    min-height:350px;
}

.content h3{
    font-size:18px;
}

.content h1{
    font-size:28px;
    letter-spacing:3px;
}

.product-heading{
    /* flex-direction:column; */
    align-items:flex-start;
    gap:10px;
}


.container{
    /* grid-template-columns:1fr; */
    grid-template-columns:repeat(3,1fr);
}

/* .about-container{
    flex-direction:column;
} */

.about-text,
.about-image{
    width:100%;
}

.about-image img{
    width:100%;
}

footer p{
    font-size:12px;
    line-height:22px;
}

}
@media (max-width:480px){

header{
    padding:15px;
}

.logo h2{
    font-size:20px;
}

nav ul li a{
    font-size:15px;
}

.hero{
    min-height:250px;
}

.content h3{
    font-size:15px;
}

.content h1{
    font-size:22px;
    letter-spacing:2px;
}

.products{
    width:95%;
}

.product-heading h3{
    font-size:20px;
}

.product-heading a{
    font-size:12px;
}

.title-price{
    flex-direction:column;
    align-items:flex-start;
    gap:5px;
}

.rating{
    flex-direction:column;
    align-items:flex-start;
    gap:5px;
}

.about{
    width:95%;
}

.about h2{
    font-size:20px;
}

.about-text h3{
    font-size:18px;
}

.about-text p,
.about-text ul li{
    font-size:14px;
}

.about-text button{
    width:100%;
}

footer{
    width:95%;
}

footer p{
    font-size:11px;
}

}
