/*carousel*/
ul {
  width: 80vw;
  height: 250px;
  /* padding: 20px; */
  display: flex;
  gap: 10px;
}
li {
  list-style-type: none;
  background-color: #eeeeee;
  border: 10px solid #b7b79d;
  padding: 10px;
  flex: 0 0 100%;
}

li:nth-child(even) {
  background-color: beige;
}

/*positions*/

.container {
  position: relative; 
  width: 400px;
  height: 300px;
  border: 2px solid #333;
  margin-top: 60px; 
}

.box {
  width: 150px;
  height: 50px;
  padding: 10px;
  color: white;
}


.static-box {
  position: static;
  background-color: #4f46e5;
  top: 20px;
  left: 20px;
}


.relative-box {
  position: relative;
  background-color: #059669;
  top: 15px; 
  left: 30px;
}

.absolute-box {
  position: absolute;
  background-color: #dc2626;
  bottom: 10px; 
  right: 10px;  
}


.fixed-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #1e293b;
  color: white;
  text-align: center;
  line-height: 50px;
}
.mask1{
    -webkit-mask-image: url("https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/developer-communities/w3-kevaurzl97zw2676nb0nc.png/w3-cubl13iejg7muh18jdgwcs.png?_a=DATAiZkSZAA0");
  mask-image: url("https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/developer-communities/w3-kevaurzl97zw2676nb0nc.png/w3-cubl13iejg7muh18jdgwcs.png?_a=DATAiZkSZAA0");
  mask-repeat: no-repeat;
}



