* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("pexels-clouds-1282314_1920.jpg");
  background-position: 20%;
  background-size: cover;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: rgb(71, 167, 104);
  /* text-shadow: 2px 2px red; */
}
/*html form*/
form {
  margin: 10px;
}
input:focus{
    background-color: rgb(168, 157, 34);

}
/*new section*/
img {
  border: solid 10px rgb(90, 66, 66);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* filter: blur(2px); */
  /* filter: sepia(); */
   filter: saturate(5px); 
}
p {
    margin: 10px;
  display: inline-block;
  outline-style: dashed;
  outline-color: rgb(71, 167, 104);
}

/* grid layout*/
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(56, 182, 190);
  padding: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
/*table*/
table{
    margin: 20px;
}
td{
    
    text-align: center;
    padding: 10px
}

/*css transtions*/
#tran{
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: red;
  transition: width 2s ;
  cursor: pointer;
}
#tran:hover {
  width: 200px;
  
}


